body {
    font-family: Calibri, sans-serif;
    color: darkblue;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

h1, p:first-of-type {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
}

.example {
    text-align: center;
}

div {
    height: 200px;
    width: 600px;
    background-color: #f8f8ff;
    border: 4px dashed #1a237e;
    border-right: solid 4px #1a237e;
    margin: 20px auto 10px auto;
    padding: 10px;
    color: #222;
    font-size: 90%;
    box-sizing: border-box;
    overflow-y: scroll;
    text-align: justify;
}

a {
    color: #008000;
    text-decoration: underline;
    font-weight: bold;
}
table {
    margin-left: 500px;
    border-collapse: collapse;
}
table td {
    width: 300px;
    font-size: 100%;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

tr:nth-child(2n) {
    background-color: #8e93ac;
}

ul {
    list-style-type: circle;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.col1 {
    color: #d32f2f;
}
.col2 {
    color: #1976d2;
}
.col3 {
    color: #388e3c;
}
.col4 {
    color: #f57c00;
}
.example2 {
    text-align: center;
}